@import "tailwindcss";
@import "basecoat-css";

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "@iconify/tailwind4";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}
